<h2><%= @book.title %></h2>

<p>Buying Price: <%= @book.buying_price %></p>
<p>Selling Price: <%= @book.selling_price %></p>
<p>Genre: <%= @book.genre %></p>
<p>In Stock: <%= @book.amount_in_stock %></p>
<p>Year of Publication: <%= @book.year_of_publication %></p>


<a href="/books/<%= @book.id %>/edit">Edit</a>
<form action="/books/<%= @book.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
